Repository pioneers/PieCentral, pull requests merged in 2018-10, with the labels that each got.

#631 Final preparation for asyncio merge
  hibike/DEVELOPERS.md
  hibike/README.md
  hibike/asyncio_test.py
  hibike/hibike_message.py
  hibike/hibike_process.py
  hibike/hibike_process_async.py
  hibike/hibike_tester.py
  hibike/hibike_tests/hibike_process_tests.py
  hibike/hibike_tests/utils.py
  hibike/virtual_device.py
  hibike/virtual_device_async.py
Labels: Hibike

#630 Pipeline fixes
  .travis.yml
  DevOps/pipeline/deploy-artifacts.sh
Labels: DevOps

#634 Fixed private key being removed
  .travis.yml
Labels: DevOps

#635 Updated makerelease script with two different modes
  makerelease
Labels: DevOps, enhancement

#626 Shepherd/reduction
  .gitignore
  shepherd/Alliance.py
  shepherd/Codegen.py
  shepherd/DummyScoreboard.py
  shepherd/DummySensors.py
  shepherd/DummyShepherd.py
  shepherd/DummyShepherdReceiver.py
  shepherd/DummyUI.py
  shepherd/Goal.py
  shepherd/ManualScoring.py
  shepherd/Sensors.py
  shepherd/Sensors/SensorsBlue/SensorsBlue.ino
  shepherd/Sensors/SensorsGold/SensorsGold.ino
  shepherd/Shepherd.py
  shepherd/Team.py
  shepherd/Timer.py
  shepherd/UI.py
  shepherd/Utils.py
  shepherd/Web.py
  shepherd/arduino/biddingStation/biddingStation.ino
  shepherd/dawn_server.py
  shepherd/dummy.py
  shepherd/rfid.txt
  shepherd/scoreboard_server.py
  shepherd/server.py
  shepherd/static/scoreboard.js
  shepherd/templates/RFID_control.html
  shepherd/templates/Scoreboard.html
  shepherd/templates/score_adjustment.html
  shepherd/templates/staff_gui.html
  shepherd/testboard.html
  shepherd/testboard.js
Labels: Shepherd
