Repository pioneers/PieCentral, pull requests merged in 2018-04, with the labels that each got.

#512 [RUNTIME] Lint fixes
  runtime/Makefile
  runtime/fake_dawn.py
  runtime/hibikeSim.py
  runtime/runtimeUtil.py
Labels: Runtime

#586 Dawn 2018 Final Competition Changes
  dawn/main/networking/FieldControl.js
  dawn/renderer/actions/FieldActions.js
  dawn/renderer/components/DNav.js
  dawn/renderer/components/Editor.js
  dawn/renderer/components/EditorContainer.js
  dawn/renderer/constants/Constants.js
  dawn/renderer/reducers/FieldStore.js
  dawn/renderer/reducers/studentConsole.js
Labels: Dawn

#575 [DEVOPS] usb hotplugging
  DevOps/frankfurter/resources/bashrc
  DevOps/frankfurter/scripts/install/master_setup
Labels: DevOps, enhancement
