Repository pioneers/PieCentral, pull requests merged in 2018-02, with the labels that each got.

#513 Fixed router setup script
  DevOps/networking/setup_router.py
  DevOps/networking/setup_routers.py
Labels: DevOps

#522 [SHEPHERD] (Codegen) update the embedded decode_message
  runtime/stateManager.py
  runtime/studentAPI.py
Labels: Runtime, Shepherd

#492 [SHEPHERD] Code generation implemented (for real for real this time) (?)
  shepherd/Codegen.py
Labels: Shepherd

#517 [DAWN] eslint: Mark as root config
  dawn/.eslintrc.json
Labels: Dawn

#527 Changed default theme from github to tomorrow to improve syntax highlighting
  dawn/renderer/reducers/settings.js
Labels: Dawn

#529 Added missing gamepad button to display
  dawn/renderer/components/Gamepad.js
Labels: Dawn

#526 [DAWN] Hotkeys and textsize dropdown
  dawn/main/MenuTemplate/DebugMenu.js
  dawn/main/MenuTemplate/HelpMenu.js
  dawn/renderer/components/Editor.js
Labels: Dawn

#531 [HIBIKE] Use a watchdog timer in YogiBear firmware
  hibike/devices/YogiBear/YogiBear.cpp
Labels: Hibike
