Repository pioneers/PieCentral, changes with the owners that CODEOWNERS names for each.
All owners: @Funplings, @kdarken, @herojelly, @rs4ostrea, @benliao1, @FIREdog5, @kaipinryankoh

Can write log into console
  dawn/main/client.js
  dawn/main/main-process.js
  dawn/renderer/actions/console.js
  dawn/renderer/components/App.js
  dawn/renderer/components/Console.js
  dawn/renderer/components/Preferences.js
  dawn/renderer/components/Status.js
  dawn/renderer/components/Toolbar.js
  dawn/renderer/constants/Constants.js
  dawn/renderer/effects.js
  dawn/renderer/reducers/connection.js
  dawn/renderer/reducers/console.js
  dawn/renderer/store.js
  runtime/README.md
Owners: @Funplings, @kdarken, @benliao1

Implemented console truncation
  dawn/renderer/actions/console.js
  dawn/renderer/components/Preferences.js
  dawn/renderer/reducers/console.js
  dawn/renderer/reducers/preferences.js
Owners: @Funplings, @kdarken

finalizing changes to match recovery
  shepherd/templates/match_recovery.html
  shepherd/templates/recovery.html
Owners: @FIREdog5, @kaipinryankoh

im not sure
  Pipfile
  Pipfile.lock
  shepherd/Shepherd.py
  shepherd/game_data.json
  shepherd/templates/match_recovery.html
Owners: @FIREdog5, @kaipinryankoh

[LOWCAR] General fixes to all BatteryBuzzer subclasses
  hibike/lowcar/hidden/BatteryBuzzer.cpp
  hibike/lowcar/hidden/VoltageTracker.cpp
  hibike/lowcar/hidden/disp_8.cpp
  hibike/lowcar/hidden/disp_8.h
  hibike/lowcar/hidden/eeprom.cpp
  hibike/lowcar/hidden/pdb_defs.h
  hibike/lowcar/hidden/safety.cpp
  hibike/lowcar/hidden/voltage_sense.cpp
Owners: @benliao1

added overtime Utils, should_overtime(), and to_overtime()
  shepherd/Shepherd.py
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

quick update JSON bug fix
  shepherd/templates/match_recovery.html
Owners: @FIREdog5, @kaipinryankoh

[LOWCAR] Additional fixes to BatteryBuzzer
  hibike/lowcar/hidden/BatteryBuzzer.cpp
  hibike/lowcar/hidden/BatteryBuzzer.h
  hibike/lowcar/hidden/disp_8.h
Owners: @benliao1

added Limbo phase
  shepherd/Shepherd.py
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

recipe times v1 (#734)
  shepherd/Alliance.py
Owners: @FIREdog5, @kaipinryankoh

gitignore and merging tims changes
  .gitignore
  shepherd/Alliance.py
  shepherd/Shepherd.py
  shepherd/game_data.json
Owners: @FIREdog5, @kaipinryankoh

[LOWCAR] Simplified variable definitions in disp_8
  hibike/lowcar/hidden/disp_8.cpp
  hibike/lowcar/hidden/disp_8.h
Owners: @benliao1

Disable uvloop, allow strip to fail on bad file formats
  runtime/Dockerfile
  runtime/Pipfile
Owners: @benliao1

added score
  shepherd/Shepherd.py
Owners: @FIREdog5, @kaipinryankoh

added new headers
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

fixed adding/finishing recipe... need to fix probabilities
  shepherd/RecipeManager.py
Owners: @FIREdog5, @kaipinryankoh

finished v1 of submit recipe
  shepherd/Shepherd.py
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

the state is now being loaded properly. fixed update json and updated to_setup
  shepherd/Shepherd.py
  shepherd/templates/match_recovery.html
Owners: @FIREdog5, @kaipinryankoh

Global Variables and Classless RecipeManager + Utils Corrections
  shepherd/RecipeManager.py
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

[LOWCAR] Finished + fixed BatteryBuzzer
  hibike/lib/lowcar/BatteryBuzzer/BatteryBuzzer.cpp
  hibike/lib/lowcar/BatteryBuzzer/BatteryBuzzer.h
  hibike/lib/lowcar/BatteryBuzzer/pdb_defs.h
  hibike/lib/lowcar/BatteryBuzzer/pitches.h
Owners: @benliao1

test docker-ce workaround
  foundry/provisioning/docker_workaround.sh
  foundry/provisioning/roles/base/docker_workaround.sh
  foundry/provisioning/roles/base/tasks/debian.yml
Owners: @herojelly, @rs4ostrea

added To do's
  shepherd/Shepherd.py
Owners: @FIREdog5, @kaipinryankoh

Working on timer stuff atm
  shepherd/Alliance.py
  shepherd/Code.py
  shepherd/Shepherd.py
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

added overtime, limbo, and todos
  shepherd/Shepherd.py
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

added oven buttons, submit recipe, rats
  shepherd/Shepherd.py
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

removed recipe utils
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

Timing structure
  shepherd/Shepherd.py
Owners: @FIREdog5, @kaipinryankoh

style fixes
  shepherd/Shepherd.py
Owners: @FIREdog5, @kaipinryankoh

fixed style errors final
  shepherd/Shepherd.py
Owners: @FIREdog5, @kaipinryankoh

ratboxes
  Sensors_2020.py
  buttons_2020.ino
Owners: none

ratbox v1
  shepherd/Sensors_2020.py
  shepherd/buttons_2020/buttons_2020.ino
Owners: @FIREdog5, @kaipinryankoh

get these out of the top level
  Sensors_2020.py
  buttons_2020.ino
Owners: none

Idk what's going on
  shepherd/Shepherd.py
Owners: @FIREdog5, @kaipinryankoh

Randomized Team Recipe Generators Complete
  shepherd/RecipeManager.py
Owners: @FIREdog5, @kaipinryankoh

Working on code.py
  shepherd/Code.py
  shepherd/Shepherd.py
Owners: @FIREdog5, @kaipinryankoh

[LOWCAR] koala bear first test
  hibike/lib/lowcar/Device/defs.h
  hibike/lib/lowcar/KoalaBear/KoalaBear.cpp
  hibike/lib/lowcar/KoalaBear/KoalaBear.h
  hibike/lib/lowcar/KoalaBear/pindefs_koala.h
Owners: @benliao1

[LOWCAR] first koala bear commit again
  hibike/lib/lowcar/BatteryBuzzer/BatteryBuzzer.cpp
  hibike/lib/lowcar/BatteryBuzzer/BatteryBuzzer.h
  hibike/lib/lowcar/BatteryBuzzer/pdb_defs.h
Owners: @benliao1

[LOWCAR] forgot to update the hibikeDevices.json config file
  hibike/hibikeDevices.json
Owners: @benliao1

created branch
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

Made upload and save button and added to the main menu
  dawn/main/MenuTemplate/FileMenu.js
  dawn/renderer/components/Editor.js
Owners: @Funplings, @kdarken

CODEOWNERS:

# Project managers are automatically requested for review
/dawn/            @Funplings @kdarken
/DevOps/          @herojelly @rs4ostrea
/foundry/         @herojelly @rs4ostrea
/ansible-protos/  @benliao1
/runtime/         @benliao1
/hibike/          @benliao1
/shepherd/        @FIREdog5 @kaipinryankoh
