Repository pioneers/PieCentral, changes with the owners that CODEOWNERS names for each.
All owners: @Funplings, @kdarken, @herojelly, @rs4ostrea, @benliao1, @FIREdog5, @kaipinryankoh

CODEOWNERS:

# Project managers are automatically requested for review
/dawn/            @Funplings @kdarken
/DevOps/          @herojelly @rs4ostrea
/foundry/         @herojelly @rs4ostrea
/ansible-protos/  @benliao1
/runtime/         @benliao1
/hibike/          @benliao1
/shepherd/        @FIREdog5 @kaipinryankoh

Upgraded all Dawn packages
  dawn/.babelrc
  dawn/package.json
  dawn/yarn.lock
Owners: @Funplings, @kdarken

Started fixing eslint issues
  dawn/main/main-process.js
  dawn/main/networking/Ansible.js
  dawn/renderer/actions/AlertActions.js
  dawn/renderer/actions/ConsoleActions.js
  dawn/renderer/actions/EditorActions.js
  dawn/renderer/actions/FieldActions.js
  dawn/renderer/actions/GamepadsActions.js
  dawn/renderer/actions/InfoActions.js
  dawn/renderer/actions/PeripheralActions.js
  dawn/renderer/actions/SettingsActions.js
  dawn/renderer/components/App.js
  dawn/renderer/components/ConfigBox.js
  dawn/renderer/components/ConsoleOutput.js
  dawn/renderer/components/DNav.js
  dawn/renderer/components/Dashboard.js
  dawn/renderer/components/Editor.js
  dawn/renderer/components/EditorContainer.js
  dawn/renderer/components/Gamepad.js
  dawn/renderer/components/GamepadList.js
  dawn/renderer/components/Peripheral.js
  dawn/renderer/components/PeripheralList.js
  dawn/renderer/components/StatusLabel.js
  dawn/renderer/components/UpdateBox.js
  dawn/renderer/components/peripherals/BooleanSensor.js
  dawn/renderer/components/peripherals/GameValues.js
  dawn/renderer/components/peripherals/GenericPeripheral.js
  dawn/renderer/components/peripherals/Motor.js
  dawn/renderer/reducers/alerts.js
  dawn/renderer/reducers/info.js
  dawn/renderer/reducers/peripherals.js
  dawn/renderer/utils/sagas.js
  dawn/renderer/utils/test/sagas.test.js
  dawn/renderer/utils/utils.js
  dawn/webpack.config.babel.js
Owners: @Funplings, @kdarken

Fixed lint issues
  dawn/.eslintrc.json
  dawn/main/MenuTemplate/HelpMenu.js
  dawn/main/networking/Ansible.js
  dawn/main/networking/FieldControl.js
  dawn/package.json
  dawn/renderer/components/App.js
  dawn/renderer/components/ConfigBox.js
  dawn/renderer/components/ConsoleOutput.js
  dawn/renderer/components/DNav.js
  dawn/renderer/components/Editor.js
  dawn/renderer/components/Peripheral.js
  dawn/webpack.config.babel.js
  dawn/yarn.lock
Owners: @Funplings, @kdarken

Can open Dawn with yarn run start
  dawn/main/main-process.js
  dawn/main/networking/Ansible.js
  dawn/package.json
Owners: @Funplings, @kdarken

Removed outdated fake runtime
  dawn/fake-runtime/FakeRuntime.js
Owners: @Funplings, @kdarken

Removing old field control code
  dawn/main/MenuTemplate/DawnMenu.js
  dawn/main/MenuTemplate/DebugMenu.js
  dawn/main/main-process.js
  dawn/main/networking/FieldControl.js
  dawn/renderer/utils/sagas.js
Owners: @Funplings, @kdarken

Trying to remove field control
  dawn/main/MenuTemplate/DebugMenu.js
  dawn/main/MenuTemplate/FileMenu.js
  dawn/main/main-process.js
  dawn/main/networking/Ansible.js
  dawn/renderer/actions/FieldActions.js
  dawn/renderer/components/App.js
  dawn/renderer/components/ConfigBox.js
  dawn/renderer/index.js
  dawn/renderer/utils/sagas.js
Owners: @Funplings, @kdarken

Replacing bootstrap and smalltalk
  dawn/package.json
  dawn/static/bootstrap/css/bootstrap.min.css
  dawn/static/bootstrap/css/bootstrap.min.css.map
  dawn/static/bootstrap/fonts/glyphicons-halflings-regular.eot
  dawn/static/bootstrap/fonts/glyphicons-halflings-regular.svg
  dawn/static/bootstrap/fonts/glyphicons-halflings-regular.ttf
  dawn/static/bootstrap/fonts/glyphicons-halflings-regular.woff
  dawn/static/bootstrap/fonts/glyphicons-halflings-regular.woff2
  dawn/static/dawn.css
  dawn/static/index.html
  dawn/static/smalltalk/css/smalltalk.min.css
  dawn/static/smalltalk/img/IDR_CLOSE_DIALOG.png
  dawn/static/smalltalk/img/IDR_CLOSE_DIALOG_H.png
  dawn/yarn.lock
Owners: @Funplings, @kdarken

Finished Runtime node client
  runtime/runtime-node-client/package.json
  runtime/runtime-node-client/runtime-client.js
Owners: @benliao1

updated for distinct names in alliances
  shepherd/templates/match_recovery.html
Owners: @FIREdog5, @kaipinryankoh

[LOWCAR] Continuing BatteryBuzzer fixes
  hibike/lowcar/hidden/disp_8.h
  hibike/lowcar/hidden/eeprom.h
  hibike/lowcar/hidden/safety.cpp
  hibike/lowcar/hidden/safety.h
  hibike/lowcar/hidden/voltage_sense.cpp
Owners: @benliao1

[LOWCAR] Temporarily skipping PID calc.
  hibike/lib/lowcar/PolarBear/PolarBear.cpp
Owners: @benliao1

[LOWCAR] Fixed syntax error in PID
  hibike/lib/hibike/hibike_message.cpp
  hibike/lib/lowcar/Device/PID.cpp
Owners: @benliao1

Progress on new UI
  dawn/package.json
  dawn/renderer/components/App.js
  dawn/renderer/index.js
  dawn/renderer/reducers/FieldStore.js
  dawn/renderer/reducers/dawnApp.js
  dawn/static/index.html
  dawn/yarn.lock
  runtime/runtime-python-client/runtimeclient.py
  runtime/scripts/rtcli
Owners: @Funplings, @kdarken, @benliao1

[LOWCAR] Fixed more syntax errors in PID
  hibike/lib/lowcar/Device/PID.cpp
Owners: @benliao1

Changed the input so that user's are unable to enter input
  shepherd/templates/Tablet-UI.html
Owners: @FIREdog5, @kaipinryankoh

[LOWCAR] Fixing issues with disp_8, voltage_sense in BatteryBuzzer
  hibike/lowcar/hidden/disp_8.cpp
  hibike/lowcar/hidden/disp_8.h
  hibike/lowcar/hidden/pdb_defs.h
  hibike/lowcar/hidden/voltage_sense.cpp
  hibike/lowcar/hidden/voltage_sense.h
Owners: @benliao1

Shepherd/tablet ui (#732)
  DevOps/chrommunal/README.md
  DevOps/chrommunal/crouton/README.md
  DevOps/chrommunal/crouton/bashrc
  DevOps/chrommunal/crouton/setup-chrome.sh
  DevOps/chrommunal/crouton/setup-ubuntu.sh
  DevOps/chrommunal/images/osverif.jpg
  DevOps/chrommunal/images/write-protect.png
  DevOps/frankfurter/resources/blacklist.conf
  DevOps/frankfurter/scripts/install/bootstrap
  DevOps/frankfurter/scripts/install/master_setup
  DevOps/frankfurter/scripts/tools/add_team_config
  DevOps/frankfurter/scripts/tools/frank-docker
  DevOps/frankfurter/scripts/tools/get_logs
  DevOps/frankfurter/scripts/tools/prepare_logs
  DevOps/frankfurter/scripts/tools/recompile_dtb
  DevOps/frankfurter/scripts/tools/run_remote
  DevOps/frankfurter/scripts/tools/user_hotfix
  dawn/README.md
  shepherd/templates/Tablet-UI.html
Owners: @herojelly, @rs4ostrea, @Funplings, @kdarken, @FIREdog5, @kaipinryankoh

[LOWCAR] Fixed PolarBear syntax.
  hibike/lib/lowcar/PolarBear/PolarBear.cpp
Owners: @benliao1

Fixed draft build for runtime-node-client
  dawn/renderer/components/TooltipButton.js
  runtime/runtime-node-client/package-lock.json
  runtime/runtime-node-client/package.json
Owners: @Funplings, @kdarken, @benliao1

worked on recipe manager
  shepherd/RecipeManager.py
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

updated for order
  shepherd/templates/match_recovery.html
Owners: @FIREdog5, @kaipinryankoh

[LOWCAR] Cleaned up drive in PolarBear.
  hibike/lib/lowcar/PolarBear/PolarBear.cpp
  hibike/lib/lowcar/PolarBear/PolarBear.h
Owners: @benliao1

[LOWCAR] Fixed wheel direction
  hibike/lib/lowcar/PolarBear/PolarBear.cpp
Owners: @benliao1

RecipeManger class fixed, Utils for Recipies and Ingredients, and Allianced cooked counter
  shepherd/Alliance.py
  shepherd/RecipeManager.py
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

Finally made runtime-client visible to electron with __dirname: true
  dawn/package.json
  dawn/renderer/actions/devices.js
  dawn/renderer/components/App.js
  dawn/renderer/components/Device.js
  dawn/renderer/reducers/dawnApp.js
  dawn/renderer/reducers/devices.js
  dawn/renderer/store.js
  dawn/webpack.config.babel.js
  dawn/yarn.lock
  runtime/runtime-node-client/package.json
Owners: @Funplings, @kdarken, @benliao1

Basic client up and running
  dawn/main/client.js
  dawn/main/main-process.js
  dawn/renderer/components/App.js
  dawn/renderer/components/Settings.js
  dawn/webpack.config.babel.js
Owners: @Funplings, @kdarken

Started preferences UI
  dawn/main/client.js
  dawn/main/main-process.js
  dawn/renderer/components/App.js
  dawn/renderer/components/DeviceList.js
  dawn/renderer/components/PreferencesMenu.js
  dawn/renderer/components/Settings.js
Owners: @Funplings, @kdarken

Fixed theming
  dawn/renderer/actions/preferences.js
  dawn/renderer/components/App.js
  dawn/renderer/components/DeviceList.js
  dawn/renderer/components/PreferencesMenu.js
  dawn/renderer/components/common.js
  dawn/renderer/reducers/preferences.js
  dawn/renderer/store.js
  dawn/static/index.html
Owners: @Funplings, @kdarken

Added note to use black autoformatter
  runtime/Pipfile
  runtime/Pipfile.lock
  runtime/README.md
Owners: @benliao1

[LOWCAR] working both directions with speed no pid
  hibike/lib/lowcar/Device/PID.cpp
  hibike/lib/lowcar/PolarBear/PolarBear.cpp
  hibike/lowcar/.Rhistory
Owners: @benliao1

New mapping
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

adjusted upload JSON method
  shepherd/templates/match_recovery.html
Owners: @FIREdog5, @kaipinryankoh

Another test
  shepherd/Shepherd.py
Owners: @FIREdog5, @kaipinryankoh

weights
  shepherd/RecipeManager.py
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

Generate Recipes completed
  shepherd/RecipeManager.py
Owners: @FIREdog5, @kaipinryankoh

Fix for style checker
  shepherd/RecipeManager.py
Owners: @FIREdog5, @kaipinryankoh

passed pylint test
  shepherd/Utils.py
Owners: @FIREdog5, @kaipinryankoh

Editor/console CSS working
  dawn/package.json
  dawn/renderer/actions/console.js
  dawn/renderer/components/App.js
  dawn/renderer/components/Console.js
  dawn/renderer/components/DeviceList.js
  dawn/renderer/components/Preferences.js
  dawn/renderer/components/common.js
  dawn/renderer/reducers/console.js
  dawn/renderer/reducers/devices.js
  dawn/renderer/reducers/preferences.js
  dawn/renderer/store.js
  dawn/static/index.html
  dawn/yarn.lock
Owners: @Funplings, @kdarken

Console open/close now only display based on the current state
  dawn/renderer/actions/console.js
  dawn/renderer/components/App.js
  dawn/renderer/components/Preferences.js
  dawn/renderer/reducers/console.js
  dawn/renderer/reducers/devices.js
  dawn/static/index.html
Owners: @Funplings, @kdarken
